html,
body {
    background-color: #d3d3d3 !important;
}

html {
    margin-left: calc(100vw - 100%);
}

span {
    font-size: 28px;
}

.page-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.heading {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.image {
    width: 150px;
    transition-duration: 0.25s;
}

.image:hover {
    transform: translateY(-10px);
}

.image-secondary {
    position: relative;
    z-index: 1;
    width: 150px;
    transition-duration: 0.25s;
    margin-top: -175px;
}

.image-secondary:hover {
    position: relative;
    transform: translateY(-10px);
    transition-duration: 0.25s;
}

.advice-card-container {
    display: flex;
    justify-content: space-around;
}

.advice-card {
    display: inline-block;
    background-color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-width: 150px;
    text-align: center;
}

.advice-text {
    margin-bottom: 4px;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    font-weight: bold;
}

.github-link-container {
    text-align: center;
}

.github-link {
    display: inline-block;
    font-size: 18px;
    font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
    transition-duration: 0.25s;
}

.github-link:hover {
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition-duration: 0.25s;
    text-decoration: none;
    color: #0275d8;
}

.github-link:visited {
    text-decoration: none;
    color: #0275d8;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

.hit {
    color: darkred;
}

.stay {
    color: gold;
}

.double {
    color: darkgreen;
}

.split {
    color: darkblue;
}

.blackjack {
    color: black;
}
